.title{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.content-list{
    /* overflow: auto; */
    height: 100%;
}
.list{
    width: auto;
    /* min-height: 100%; */
    padding: 1rem;
    height: 93%;
    overflow: auto;
    
    border: 1px solid #A0A0A0;
    border-radius: 5px;
}
.list::-webkit-scrollbar{
    width: 9px;
    height: 9px;
    background-color: #A0A0A0;
    border-radius: 5px;
}
.list::-webkit-scrollbar-thumb{
    background-color: #7b7a7a;
    border-radius: 5px;
}
