<div class="task" 
    id="task.id"
>
    <div class="task-header">
        <h1>{{task.nombre}}</h1>
        <p class="prioridad" [ngClass]="{'alta': (task.prioridad == 'Alta'), 'media': (task.prioridad == 'Media'), 'baja': (task.prioridad == 'Baja')}">{{task.prioridad}}</p>
    </div>

    <div class="fecha">
        <!-- 22 Feb 2024 -->
        <img class="icon" src="assets/fecha.svg" alt="">
        <p>Vence: {{task.fechaFin}}</p>
        <img class="icon" src="assets/description.svg" alt="">
    </div>

    <div class="buttons">
        <button class="btn editar" (click)="editarTask()">
            <img class="icon" src="assets/editar.svg" alt="">
            <p>Editar</p>
        </button>
        <button class="btn eliminar" (click)="Delete()">
            <img class="icon" src="assets/eliminar.svg" alt="">
            <p>Eliminar</p>
        </button>
    </div>
</div>

