
.task{
    /* background-color: burlywood; */
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #A0A0A0;
    border-radius: 5px;
}


.btn{
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
    border-radius: 5px;
}

.editar{
    background-color: #3DC6CF;
}
.eliminar{
    background-color: #FF6B6B;
}


