<div class="task"
>
    <div class="task-header">
        <h1>{{task}}</h1>
        <p class="prioridad alta">Prioridad</p>
    </div>

    <div class="fecha">
        <img class="icon" src="assets/fecha.svg" alt="">
        <p>Vence: 22 Feb 2024</p>
        <img class="icon" src="assets/description.svg" alt="">
    </div>

    <div class="buttons">
        <button class="btn editar">
            <img class="icon" src="assets/editar.svg" alt="">
            <p>Editar</p>
        </button>
        <button class="btn eliminar">
            <img class="icon" src="assets/eliminar.svg" alt="">
            <p>Eliminar</p>
        </button>
    </div>
</div>
