<!-- <p>kanban works!</p> -->

<div class="kanban-board">
    <app-kanban-list 
        class="kanban-list"
        cdkDropList
        cdkDragPreviewContainer="parent"
        [cdkDropListData]="heroNames"
        (cdkDropListDropped)="moveTask($event)"
        [heroNames]="heroNames"
    >
    </app-kanban-list>
    <app-kanban-list 
        class="kanban-list"
        cdkDropList
        cdkDragPreviewContainer="parent"
        [cdkDropListData]="heroNames"
        (cdkDropListDropped)="moveTask($event)"
        [heroNames]="heroNames"
    >
    </app-kanban-list>
    <app-kanban-list
        class="kanban-list"
        cdkDropList
        cdkDragPreviewContainer="parent"
        [cdkDropListData]="heroNames"
        (cdkDropListDropped)="moveTask($event)"
        [heroNames]="heroNames"
    >
    </app-kanban-list>
</div>

<!-- <app-kanban-list 
    cdkDropList
    cdkDragPreviewContainer="parent"
>
</app-kanban-list> -->