
<div class="container">
    <!-- Filtro -->
    <div class="filtro">
        <div class="filtro-fecha">
            <h3>Filtro por fecha</h3>
            <div class="form">
                <div class="date">
                    <p>De</p>
                    <input type="datetime-local">
                </div>
                <div class="date">
                    <p>a</p>
                    <input type="datetime-local">
                </div>
                <button class="butn filtro-tarea">Filtrar</button>
            </div>
        </div>

        <div class="crear">
            <button class="butn crear-tarea">+ Crear</button>
            <!-- <select name="vista" id="">
                <option value="value1"selected >Mes</option>
                <option value="value2">Semana</option>
                <option value="value3">Dia</option>
            </select> -->
        </div>
    </div>

    <!-- calendar -->
    <div class="calendar">

    </div>
</div>

