.contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
}

.filtro{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

.filtro-fecha h3{
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.date{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.form input{
    font-size: 1.1rem;
    padding: 0.4rem;
}

.butn{
    padding: 0.7rem;
    background-color: #48D7E0;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 7px;
    width: 8rem;
    cursor: pointer;
}
.butn:hover{
    background-color: #47c2ca;
}

.crear{
    margin-top: 1rem;
    text-align: center;
}

.calendar{
    background-color: white;
    padding: 1rem;
    margin-top: 1.5rem;
    width: 100%;
    border-radius: 5px;
    height: 42rem;
}
.full-calendar{
    height: 100%;
}

/* .fc-button-primary{
    background-color: #47c2ca !important;
}
.fc-dom-1{
    text-transform: capitalize !important;
} */

@media (min-width: 700px ) {
    .form{
        flex-direction: row;
        justify-content: center;
    }
    .contain{
        width: 85%;
    }
}

@media (min-width: 1024px ) { /* de 900 en adelante */
    .contain{
        width: 80%;
    }
    
    .filtro{
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        font-size: 1.1rem;
    }

    
}
