
<div class="contain">
    <!-- Filtro -->
    <div class="filtro">
        <div class="filtro-fecha">
            <h3>Filtro por fecha</h3>
            <div class="form">
                <div class="date">
                    <p>De</p>
                    <input type="datetime-local" [(ngModel)]="fechaInicio">
                </div>
                <div class="date">
                    <p>a</p>
                    <input type="datetime-local" [(ngModel)]="fechaFin">
                </div>
                <button class="butn filtro-tarea" (click)="filtrarTareas()">Filtrar</button>
            </div>
        </div>

        <div class="crear">
            <button class="butn crear-tarea">+ Crear</button>
            <div class="select-vista">
                <button class="select" (click)="mostrarCalendar()" [ngClass]="{'active-select': calendar}">Calendar</button>
                <button class="select" (click)="mostrarKanban()" [ngClass]="{'active-select': kanban}">Kanban</button>
            </div>
        </div>
    </div>

    <!-- calendar -->
    <div class="calendar">
        <full-calendar *ngIf="calendar" class="full-calendar" [options]="calendarOptions"></full-calendar>
        <!-- [tasks]="allTasks" -->
        <app-kanban *ngIf="kanban" [tasks]="dataKanban"></app-kanban>
        <app-filtro-fecha *ngIf="filtro"></app-filtro-fecha>
    </div>
</div>

