.container{
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100% - 64px);
}

.EPerfil-container {
    width: 100%;
    font-size: 1rem;
    color: black;
}

h2{
    color: #333;
    text-align: center;
}

fieldset{
    padding: 1rem;
    border-radius: 10px;
}
legend{
    padding: 0 0.5rem;
}

fieldset .form-input{
    margin-bottom: 0.8rem;
}

.ICON {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.ICON img{
    width: 100%;
}

.EPerfil{
    width: 100%;
}

.EPerfil-form {
    padding: 2rem;
    /* background: #EBEBFF; */
    background-color: white;
    border: 1px solid #7C3AED;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 10px;
}

label span{
    color: red;
    /* color: #7C3AED; */
}

.form-input input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 0.8rem;
} 

input:focus{
    /* border: none; */
    outline: none;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.buttons button{
    width: 7rem;
    height: 2.2rem;
    font-size: 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}

.form-save {
    background-color: #48D7E0;
}

.form-save:hover {
    background-color: #38a3ab;
}

.form-cancel{
    background-color: #FF5959;
}
.form-cancel:hover{
    background-color: #b53636;
}

.error{
    color: #ff1d1d;
}

.input-pass{
    width: 100%;
    display: flex;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-pass img{
    width: 2rem;
    margin-right: 0.5rem;
    color: red;
}
.form-input input[name='confirmPassword'], .form-input input[name='password']  {
    width: 100%;
    margin-top: 0;
    border: none;
}


@media (min-width: 450px) {
    .EPerfil-container {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 750px) {
    .EPerfil-container {
        width: 30rem;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .EPerfil-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        /* justify-items: center; */
        margin: 0 auto;
    }
    .ICON{
        margin: auto;
        width: 15rem;
        height: 15rem;
    }
    .EPerfil{
        margin: 0 auto;
        width: 30rem;
    }
}
